.Resultados {
  width: 80px;
  text-align: center;
}
.simbolos {
  font-size: 1.5em;
  margin: 0 10px;
}
.Div1, .Div2, .Div3 {
  margin-bottom: 15px;
}
.vh-10 {
  min-height: 10vh;
}
.inputVerde, .inputAzul, .inputVerdeEscuro {
  margin-bottom: 10px;
}