.GrafBarras{
    border-radius: 20px;
    background-color: rgba(100, 89, 89, 0.432);
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.8);
    
}

.GrafProdução{
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    margin-right: 6px;

}
.GrafParada{
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    margin-left: 6px;
}